#login {
	border-right: 1px solid saddlebrown;
}

li{
	list-style: none;s
}

a{
	text-decoration: none;
	color: #8899cc;
}

.errorinfo{
	color:red;
	width: 68%;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
}

.header{
	width: 70%;
	margin: 20px auto;
	height: 100px;
}

.logo{
	width: 80%;
	height: 100%;
	float: left;
}

.login-registor{
	float: right;
	height: 100px;
	width: 20%;
	line-height: 100px;
	text-align: left;
}


#denglu {
	font-size: 24px;
}

body {
	background: url(img/p.gif) 400px;
}

.zhen {
	width: 100%;
	height: 500px;
}

.da {
	width: 80%;
	height: 400px;
	margin: auto;
	margin-top: 10px;
	box-shadow: 1px 1px 5px 5px whitesmoke;
}

.tu {
	float: left;
	width: 230px;
	height: 250px;
	margin-top: 50px;
}

.shuming {
	float: left;
	font-size: 24px;
	margin-left: 30px;
}

.xiao {
	float: left;
	width: 80px;
	height: 30px;
	margin-top: 40px;
	margin-left: -70px;
	text-align: center;
	line-height: 30px;
}

.xiao1 {
	float: left;
	width: 60px;
	height: 30px;
	margin-top: 40px;
	margin-left: 10px;
	text-align: center;
	line-height: 30px;
}


.xiao2 {
	float: left;
	width: 90px;
	height: 30px;
	margin-top: 40px;
	margin-left: 10px;
	text-align: center;
	line-height: 30px;
}

.zhiti {
	float: left;
	margin-top: 80px;
	margin-left: -350px;
	width: 100px;
	height: 40px;
}

.leirong {
	float: left;
	margin-top: 110px;
	width: 400px;
	height: 100px;
	border: 1px solid red;
	margin-left: -350px;
}

.mian {
	float: left;
	background: red;
	width: 100px;
	height: 30px;
	margin-top: 320px;
	margin-left: -390px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-radius: 50px;
}

.mian1 {
	float: left;
	border: 1px solid red;
	width: 100px;
	height: 30px;
	margin-top: 320px;
	margin-left: -270px;
	line-height: 30px;
	text-align: center;
	color: red;
	border-radius: 50px;
}

.mian1 a {
	color: red;
}

.mian1 a:hover {
	color: white;
	background: red;
}

.mian1:hover {
	background: red;
}

.mian2 {
	float: left;
	border: 1px solid red;
	width: 100px;
	height: 30px;
	margin-top: 320px;
	margin-left: -150px;
	line-height: 30px;
	text-align: center;
	color: red;
	border-radius: 50px;
}

.mian2:hover {
	background: red;
	color: white;
}

.mian:hover {
	background: white;
	color: red;
	border: 1px solid red;
}

.jiage {
	float: left;
	margin-top: 110px;
	margin-left: -350px;
}

.lianzai {
	float: left;
	margin-top: 140px;
	margin-left: -350px;
}

.xiangxi {
	float: left;
	margin-top: 180px;
	margin-left: -350px;
	width: 400px;
	height: 150px;
}

#bottom{
	margin-top: 13px;
	text-align: center;
}


