*{
	margin: 0;
	padding: 0;
}

.active{
	background-color: gray;
}

ul.lg{
	padding-left:150px;
}

ul.lg li{
	text-align: right;
	height: 100px;
	line-height: 100px;
	float: left;
	list-style: none;
	padding-left: 20px;
}

a{
	text-decoration: none;
	color: #8899cc;
}

.header{
	width: 70%;
	margin: 20px auto;
	height: 100px;
}

.logo{
	width: 50%;
	height: 100%;
	float: left;
	margin-left: -50px;
}

.login-registor{
	float: right;
	margin-left: 4%;
	height: 100px;
	width: 46%;
	line-height: 100px;
	text-align: center;
}

.section1{
	width: 100%;
	height: 40px;
	margin: 10px auto;
	background-color: #001111;
}

.ul1 li{
	height: 40px;
	line-height: 40px;
	list-style: none;
	text-align: center;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	color: #FFF9EC;
}

.banner{
	width: 79%;
	height: 340px;
	margin: 10px auto;
	background-image: url(../img/bjc.jpg);
}

.ban-left{
	width: 70%;
	height: 100%;
	float: left;
}

.ban-right{
	width: 30%;
	height: 100%;
	color: #FFF9EC;
	float: right;
	opacity: 0.8;
}

.ban-right p{
	opacity: 1;
}

.ban-right-top,.ban-right-bot{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.ranking{
	width: 200px;
	height: 40px;
	text-align: left;
	margin-left: 120px;
}

span.red{
	color: red;
}

.center{
	width: 80%;
	height: 520px;
	margin: 10px auto;
}

.book{
	width: 18%;
	height: 240px;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.center-top{
	width: 100%;
	height: 80%;
	background-color: #000000;
}

.page{
	width: 68%;
	height: 40px;
	line-height: 40px;
	margin: 10px auto;

}

div.page ul{
	margin-left: 36%;
}

div.page ul li{
	width: 30px;
	height: 30px;
	
	line-height: 30px;
	float: left;
	border: 1px solid #C2C2C2;
	text-align: center;
	
}

.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #000;
	color: #fff;
}
