*{
	margin: 0;
	padding: 0;
}

span.isVip{
	color: red;
}

span.xfjl{
	color: red;
}

ul.lg li{
	text-align: center;
	height: 100px;
	line-height: 100px;
	float: left;
	list-style: none;
	padding-left: 20px;
}

a{
	text-decoration: none;
	color: #8899cc;
}

.header{
	width: 70%;
	margin: 20px auto;
	height: 100px;
}

.logo{
	width: 80%;
	height: 100%;
	float: left;
}

.login-registor{
	float: right;
	height: 100px;
	width: 20%;
	line-height: 100px;
	text-align: left;
}

.layui-tab{
	margin: 10px auto;
	width: 68%;
}

.userinfo-1 li{
	height: 40px;
	line-height: 40px;
}
/*.centerInfo{
	width: 68%;
	height: 400px;
	background-color: #CCCCCC;
	margin: 10px auto;
}*/

.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
}

