

span.errorinfo{
	color:red;
	z-index:999;
}

.header{
	width: 80%;
	height: 40px;
	margin: 10px auto;
}

.logo{
	padding-left: 2%;
	
	width: 48%;
	height: 100%;
	float: left;
}

.login-registor{
	width: 50%;
	height: 100%;
	float: right;
}
			
ul.lg li{
	width: 100%;
	height: 100%;
	line-height: 100px;
	list-style: none;
}

table{
	border: 0px;
	width: 100%; 
	height: 100%; 
	align: center;
}

#contanier{
	border: 0px solid white;
	width: 1300px;
	margin: 0 auto;
}
			
#top{
	border: 0px solid white;
	width: 100%;
	height: 50px;
}
			
#menu{
	border: 0px solid white;
	height: 40px;
	background-color: black;
	padding-top: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
			
.top{
	border: 0px solid white;
	width: 405px;
	height: 100%;
	float: left;
	padding-left: 25px;
}
			
#top1{
	padding-top: 15px;
}
			
#bottom{
	margin-top: 13px;
	text-align: center;
}
			
#form{
	height: 500px;
	padding-top: 70px;
	background-image: url(../../img/regist_bg.jpg);
	margin-bottom: 10px;
}
a{
	text-decoration: none;
}
			
label.error{
	background:url(../../img/unchecked.gif) no-repeat 10px 3px;
	padding-left: 30px;
	font-family:georgia;
	font-size: 15px;
	font-style: normal;
	color: red;
}
			
label.success{
	background:url(../img/checked.gif) no-repeat 10px 3px;
	padding-left: 30px;
}
			
#father{
	border: 0px solid white;
	padding-left: 307px;
}
			
#form2{
	border: 5px solid gray;
	width: 660px;
	height: 450px;
}
			
	