*{
	margin: 0;
	padding: 0;
}

ul.lg li{
	text-align: center;
	height: 100px;
	line-height: 100px;
	float: left;
	list-style: none;
	padding-left: 20px;
}

a{
	text-decoration: none;
	color: #8899cc;
}

.header{
	width: 70%;
	margin: 20px auto;
	height: 100px;
}

.logo{
	width: 78%;
	height: 100%;
	float: left;
}

.login-registor{
	float: right;
	margin-left: 2%;
	height: 100px;
	width: 20%;
	line-height: 100px;
	text-align: left;
}



.center{
	width: 68%;
	padding-bottom: 40px;
	padding-top: 40px;
	border: 1px solid #80ACD9;
	opacity: 0.6;
	margin: 40px auto;
	text-align: center;
}

.center p{
	margin-top: 10px;
}

.errorinfo{
	color: red;
}

div.bot{
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #80ACD9;
	text-align: center;
	background-color: #000;
	opacity: 0.8;
	margin: 0 auto;
	color: #FFFFFF;
}

.footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #000;
	color: #fff;
	margin-top: 40px;
}
